@charset "UTF-8";

/* 全体の設定 */
body {
    background-color: #B5283D;
    margin: 0;
    max-width: 100%;
}

h2 {
    color: #FFFFFF;
    font-size: 20px;
    display: inline;
}

p {
    font-family: "Klee One";
}

/* ヘッダーの設定 */
.mainTexts {
    height: 100vh;
    /* background-image: url(../image/headerImages.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.imgWrapper {
    position: relative;
    display: inline-block;
}

.imgWrapper img {
    width: 100vw;
    height: auto;
}

#mainText1,
#mainText2 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #FFFFFF;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}


#mainText1 {
    font-family: 'Contrail One';
    font-size: 96px;
    color: #FFFFFF;
    margin: 0px 500px 0px 50px;
    padding: 25px;
}

#mainText2 {
    font-family: 'Contrail One';
    font-size: 90px;
    color: #FFFFFF;
    margin: 248px -8px;
}

#infomation {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    margin: 24px;
}

#images {
    margin: 24px;
    height: 70px;
    width: 70px;
}

.group {
    display: flex;
}

.group p {
    color: #FFFFFF;
    margin-top: 32px;
}

#sentence1 {
    padding-top: 32px;
}

#sentence2 {
    color: #D0A900;
}

#sentence4 {
    font-size: 20px;
    font-family: "Klee One";
    margin-top: 32px;
}

#sentence5 {
    font-size: 20px;
    font-family: "Klee One";
    margin: 32px 0 174px;
}

#mainSentence {
    background-image: url(../image/Gemini_Generated_Image_wd2e9dwd2e9dwd2e.png);
    height: 1270px;
    color: #FFFFFF;
    padding: 0 32px;
}

#subSentence p {
    font-family: "Klee One";
    font-size: 2rem;
    margin: 0;
}

#cookingImage1 {
    transform: rotate(-8deg);
    width: 184px;
    height: 254px;
}

#cookingImage2 {
    margin-top: 134px;
    transform: rotate(14deg);
    width: 184px;
    height: 254px;
}

.section {
    display: flex;
}

/* 商品紹介コーナー */
#introduction {
    margin: 86px 32px 48px;
    color: #FFFFFF;
    font-family: "Klee One";
}

#introductionText {
    font-family: "Klee One";
    color: #FFFFFF;
    margin: 0 33px;
    line-height: 231.9%;
    font-size: 20px;
    margin-bottom: 98px;
}

.showImages {
    display: flex;
}

#showImage {
    margin: 24px;
    border-radius: 20px 6px 20px 6px;
    width: 184px;
    height: 254px;
}

/* メニュー */
.menuList {
    color: #FFFFFF;
    font-family: "Klee One";
}

#menu {
    margin-left: 28px;
    font-size: 32px;
}

.menuList p {
    margin-left: 54px;
    font-size: 20px;
}

/* ローストチキン */
.roastChicken {
    text-shadow: 0 0 10px rgba(217, 217, 217, 1);
    background-image: url(../image/mainchicken.png);
    background-repeat: no-repeat;
    /* height: 100vh;  */

}

#chickenText {
    display: inline;
    font-family: "Ultra";
    margin-top: 151px;
    padding: 28px 20px;
}

#chickenPrice {
    font-family: "Ultra";
    font-size: 32px;
    margin: 300px 78px 0px;
}

#chickenSentence {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 300%;
    margin: 54px 20px 85px;
    letter-spacing: 9%;
}

/* ショートケーキ */
#cake {
    margin: 46px;
    color: #FFFFFF;
    font-family: "Cinzel";
}

#CakeSection {
    margin-top: 10px;
    padding-left: 10px;
    background-color: #A23445;
    height: 254px;
    justify-content: right;
}

#CakeSection p {
    font-size: 20px;
    color: #FFFFFF;
    width: 152px;
}

#shortCakeSection h2 {
    width: auto;
}

#shortCaketitle {
    margin-left: 32px;
}

.imageright {
    text-align: right;
}

#shortcakeImage {
    position: relative;
    bottom: 244px;
    width: 344px;
    height: 254px;
    object-fit: none;
    object-position: left center;
}
.cakeCorner{
    margin-left: auto;
}

.cakeCorner img {
    width: 264px;
    height: 254px;
    margin-bottom: 32px;

}

#price {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
}

/* イチゴタルト */


#strawberryImage {
    position: relative;
    bottom: 215px;
    width: 595px;
    height: 254px;
    object-fit: none;
    object-position: center;
}

/* モンブラン */
#monburanTitle {
    display: flex;
    justify-content: flex-start;
}

#monburanImage {
    position: relative;
    bottom: 245px;
    width: 595px;
    height: 254px;
    object-fit: none;
    object-position: center;
}

/* ブッシュドノエル */

#noeruImage {
    position: relative;
    bottom: 245px;
    width: 595px;
    height: 254px;
    object-fit: none;
    object-position: center;
}

/* ピザコーナー */

#pizzatextright {
    color: #FFFFFF;
    font-family: "Klee One";
    width: 157px;
    margin-left: auto;
    font-size: 20px;
    line-height: 178%;
}

#pizzatextleft {
    color: #FFFFFF;
    font-family: "Klee One";
    width: 157px;
    margin-right: auto;
    font-size: 20px;
    line-height: 178%;
}

#pizzaSection {
    background-color: #A23434;
    width: 400px;
    height: 263px;

}

#orizinal,
#marugeri-ta {
    position: relative;
    bottom: 225px;
}

#peparoni,
#teriyaki {
    position: relative;
    bottom: 225px;
    width: 560px;
    height: 254px;
    object-fit: none;
}

#wrapper {
    background-color: #A23434;
}

/* セットメニュー */

#setText {
    color: #FFFFFF;
    font-size: 20px;
    width: 162px;
}

#torupuru {
    position: relative;
    bottom: 290px;
    width: 584px;
    height: 254px;
    object-fit: contain;
}

#doubleset_One {
    position: relative;
    bottom: 302px;
    width: 655px;
    height: 320px;
    object-fit: contain;
}

#doubleset_Two {
    position: relative;
    bottom: 278px;
    width: 607px;
    height: 320px;
    object-fit: contain;
}

#setSection {
    background-color: #A23434;
    width: 400px;
    height: 263px;
}

#btn {
    margin: 191px 0px 335px;
    background-color: #3D6E0C;
    border-style: none;
    width: 186px;
    height: 64px;
    font-size: 20px;
    color: #FFFFFF;
}

#btnWrapper {
    display: flex;
    justify-content: center;
}

/* フッター */

.footer {
    background-color: #FFFFFF;
    text-align: center;
}

.footer img {
    width: 71px;
    height: 71px;
    margin: 16px;
}

.footer h2 {
    color: #000000;
    font-family: "Klee One";
    font-size: 2rem;

}

#adress h2 {
    margin: 32px;
}

#adress p {
    text-align: left;
    margin-left: 20px;
}

#eigyoubi th {
    font-family: "Inter";
    padding: 20px;
}

#follow {
    margin-top: 32px;
}

#shamei {
    background-image: url(../image/renga.png);
    background-size: cover;
}

#santa {
    width: 153px;
    height: 172px;
    text-align: center;
    margin-bottom: 0px;
}

#textImage {
    width: 201px;
    height: 71px;
}

/* メディアクエリ */
@media (min-width:800px) {
    body {
        width: 100%;
    }

    h2 {
        font-size: 48px;
        width: 346px;
    }

    /* 見出し */
    #mainText1 {
        font-size: 196px;
        margin: 0px 500px 0px 50px;
    }

    #mainText2 {
        font-size: 196px;
        justify-content: right;
        margin: 500px 0 0 50px;
    }

    #infomation {
        font-size: 64px;
    }

    #images {
        width: 210px;
        height: 210px;
    }

    .group p {
        font-size: 32px;
    }

    #subSentence p {
        font-size: 3.5rem;
    }

    #mainSentence {
        background-image: url(../image/Gemini_Generated_Image_wd2e9dwd2e9dwd2e.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1270px;
        color: #FFFFFF;
        padding: 0 32px;
    }

    #sentence4 {
        font-size: 1.6rem;
    }

    #sentence5 {
        font-size: 1.6rem;
    }

    #cookingImage1 {
        width: 280px;
        height: 372px;
        position: static;
    }

    #cookingImage2 {
        width: 280px;
        height: 372px;
        position: static;

    }

    #image1 {
        background-color: transparent;
    }

    #image2 {
        display: inline;
        background-color: transparent;
    }

    #showImage {
        margin: 24px;
        border-radius: 20px 6px 20px 6px;
        width: 280px;
        height: 372px;
    }

    .roastChicken {
        text-shadow: 0 0 10px rgba(217, 217, 217, 1);
        background-image: url(../image/mainchicken.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 100vh;
        width: 100vw;
        text-align: center;

    }

    #chickenText {
        margin: 150px;
        font-size: 4rem;
    }

    #chickenPrice {
        margin: 616px 78px 0px;
        font-size: 3rem;
    }

    #chickenSentence {
        font-size: 2rem;
        margin: 54px 20px 85px;
        letter-spacing: 9%;
    }

    #CakeSection {
        height: 300px;
        margin-top: 24px;
        padding-left: 40px;
        width: 900px;
        margin-left: 286px;
    }

    #shortcakeImage {
        bottom: 364px;
        width: 431px;
        height: 338px;

    }

    #strawberryImage {
        bottom: 295px;
        width: 451px;
        height: 338px;
    }

    #monburanImage {
        bottom: 346px;
        width: 433px;
        height: 341px;
    }

    #noeruImage {
        bottom: 284px;
        width: 453px;
        height: 298px;
    }

    #hoge {
        text-align: right;
    }

    #CakeSection p {
        font-size: 20px;
        color: #FFFFFF;
        width: 152px;
    }


    #pizza {
        margin: 46px;
        color: #FFFFFF;
        font-family: "Cinzel";
    }

    #wrapper {
        height: 300px;
        margin-top: 24px;
        padding-left: 40px;
        width: 900px;
    }

    /* #orizinal {
        height: 362px;
        width: 362px;
    } */

    #peparoni,
    #teriyaki {
        transform: scale(-1, 1);
        width: 244px;
    }

    #pizzatextleft {
        margin-left: auto;
        margin-right: 0;
    }

    #pizzaSection {
        width: 472px;
    }

    #wrapper-right {
        margin-left: 286px;
        height: 300px;
        margin-top: 24px;
        padding-left: 40px;
        width: 900px;
        background-color: #A23434;
    }

    #setSection img {
        bottom: 358px;
        width: 453px;
        height: 365px;
        margin-left: 443px;
    }

    #btn {
        width: 260px;
        height: 98px;
    }

    .footer p {
        font-size: 2rem;
    }

    #adress {
        display: flex;
        gap: 64px;
        justify-content: center;
    }

    tbody {
        display: flex;
        gap: 64px;
        margin: 24px 0 24px;
        justify-content: center;
    }

    .eigyoubi{
        justify-content: center;
    }

    tbody th {
        font-size: 2rem;
        padding-right: 24px;
    }

    #textImage,
    #santa {
        display: none;
    }

    #shamei {
        height: 58px;
        background-size: contain;
    }

    .icons {
        display: flex;
        gap: 48px;
        justify-content: center;
    }

    .section {
        margin-left: 64px;
        gap: 256px;
        align-items: center;
    }
}